<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="site.recomi.studentmanagement">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".gui.activities.library.CountAllBookLikeActivity" ></activity>
        <activity android:name=".gui.activities.mineFeatures.ViewHistoryActivity" />
        <activity android:name=".gui.activities.mineFeatures.MyGroupActivity" />
        <activity android:name=".gui.activities.mineFeatures.MyCollectionsActivity" />
        <activity android:name=".gui.activities.mineFeatures.MyClassActivity" />
        <activity
            android:name=".gui.activities.BookCollectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.BookAppointmentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.BookHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.BookDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.BookActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.GradeActivity"
            android:label="成绩查询"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.CampusAssociationAddActivity"
            android:label="添加社团"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.CampusAssociationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.ClassScheduleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.BrowserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.GuideActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.activities.WriteNoteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.LoginActivity"
            android:label="@string/login_acount"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.AccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.mineFeatures.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.notes.NewDiaryActivity"
            android:label="新建笔记"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.notes.ViewDiaryActivity"
            android:label="@string/view_diary_appname"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing|stateHidden" />
    </application>

</manifest>